<html>
<head>
<title>Events for %%%month_text%%% %%%day%%%, %%%year%%%</title>
</head>

<body  %%%bgcolor%%%  %%%background%%%
       %%%text%%% %%%link%%% 
	   %%%vlink%%% %%%alink%%%
	   >

<h3>Events for %%%month_text%%% %%%day%%%, %%%year%%%</h3>

<table border width=100%>
<tr>
<th> Time</th>
<th> Event</th>
</tr>

%%%appointments%%%

</table>

<hr>

<a href="%%%add%%%">
Add an event</a><br>

<a href="%%%delete%%%">
 Delete an event</a><br>
 
 <a href="%%%calendar%%%">Back</a>
  to the calendar.
  
</body></html>