<html>
<head><title>%%%month_text%%%, %%%year%%%</title></head>

<body  %%%bgcolor%%%  %%%background%%%
       %%%text%%% %%%link%%% 
	   %%%vlink%%% %%%alink%%%
	   >

<table>
<tr>
<td>

<table border="1" cellpadding="6" cellspacing="1" bgcolor="#FFFFFF">
<tr>
<td colspan=7 align=center>
<h3>%%%month_text%%%, %%%year%%%</h3>
%%%month_image%%%
</td></tr>

<tr>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Sun</b></font></th>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Mon</b></font></th>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Tue</b></font></th>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Wed</b></font></th>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Thu</b></font></th>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Fri</b></font></th>
<th width="14%" bgcolor="darkblue"><font color="white"><b>Sat</b></font></th>
</tr>


%%%calendar%%%

%%%announcements%%%

</table>

</td><td>
<center>
[
<a href="%%%month_view%%%">Month's events at a glance</a> |
<a href="%%%add_event%%%">Add an event</a> ]
</center><br>

<center>Go to:</center><br>
<center>[ <a href="%%%prev_month%%%">  Previous month  </a>|
<a href="%%%next_month%%%">  Next month  </a>|
<a href="%%%current%%%">  Current month  </a>]</center><br>

<center>
%%%goto%%%

<center>

[ %%%edit_announcements%%% ]

</center>
</td></tr></table>
 
 <center>
 
 <hr>[ <a href="http://www.rcbowen.com/products/HyperCal/">
 About HyperCal</a> |
  <a href="http://www.rcbowen.com/">RCBowen.com</a> |
  <a href="http://www.rcbowen.com/products/">Other fine CGI applications</a> ]
  
</center><br>
HyperCal, Version %%%version%%%, Copyright &copy; 1996,1997, Richard Bowen.
All rights reserved.<br>

</body></html>
